---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="How much left me?">
  <div class="w-full max-w-6xl flex flex-col items-center p-4 space-y-20">
    <div class="text-center space-y-3 flex items-center flex-col gap-3">
      <h1 class="text-4xl font-bold text-blue-600 dark:text-blue-400">
        How much left me?
      </h1>
      <p
        class="text-gray-400 dark:text-gray-200 italic text-lg flex items-center gap-2"
      >
        <Icon name="mdi:information" />
        Based on the life expectancy of 76 years
      </p>
      <p class="text-gray-600 dark:text-gray-300 text-lg">
        See how much you have experienced <b>life</b>
      </p>

      <div class="w-full max-w-md space-y-4">
        <div class="relative">
          <input
            placeholder="dd/mm/yyyy"
            class="w-full min-w-full border-2 border-blue-200 rounded-lg p-3 text-center text-lg focus:border-blue-500 focus:ring-2 focus:ring-blue-200 outline-none transition-all dark:bg-gray-700 dark:border-gray-600 dark:text-white"
            type="text"
            id="birthdate"
            name="birthdate"
          />
          <button
            class="absolute right-0 top-0 bottom-0 bg-blue-600 text-white px-4 rounded-r-lg focus:outline-none focus:ring-2 focus:ring-blue-300 dark:bg-blue-400 dark:focus:ring-blue-200"
            id="submitBtn"
          >
            Go
          </button>
        </div>
      </div>
    </div>

    <div id="contentWrapper" class="hidden w-full space-y-20 px-4">
      <div class="w-full max-w-2xl space-y-2 mx-auto">
        <div class="flex justify-between items-center" id="contentWrapper">
          <span class="text-sm text-gray-500 dark:text-gray-400" id="yearsLived"
            >Age: -- years</span
          >
          <span class="text-sm text-gray-500 dark:text-gray-400" id="percentage"
            >--% completed</span
          >
        </div>
        <div
          class="w-full h-12 bg-gray-200 rounded-md dark:bg-gray-700 overflow-hidden"
        >
          <div
            id="progressBar"
            class="h-full rounded-full transition-all duration-500 ease-out"
            style="width: 20%"
          >
          </div>
        </div>
        <div class="flex justify-between items-center">
          <span
            class="text-sm text-gray-500 dark:text-gray-400 flex items-center gap-2"
            id="yearsLived"
            ><Icon name="mdi:baby-carriage" class="text-xl" />Birth</span
          >
          <span
            class="text-sm text-gray-500 dark:text-gray-400 flex items-center gap-2"
            id="yearsLived"><Icon name="mdi:death" class="text-xl" />Death</span
          >
        </div>
      </div>

      <div>
        <h2
          class="text-xl font-semibold text-center text-gray-700 dark:text-gray-200"
        >
          Estimated time remaining
        </h2>
        <div class="grid grid-cols-2 md:grid-cols-6 gap-4 mt-4">
          <div
            class="bg-gray-50 min-w-fit dark:bg-gray-700 rounded-lg p-4 text-center"
          >
            <div
              class="text-xl font-bold text-blue-600 dark:text-blue-400"
              id="yearsRemaining"
            >
              --
            </div>
            <div class="text-sm text-gray-600 dark:text-gray-300">years</div>
          </div>
          <div class="bg-gray-50 dark:bg-gray-700 rounded-lg p-4 text-center">
            <div
              class="text-xl font-bold text-blue-600 dark:text-blue-400"
              id="weeksRemaining"
            >
              --
            </div>
            <div class="text-sm text-gray-600 dark:text-gray-300">weeks</div>
          </div>
          <div class="bg-gray-50 dark:bg-gray-700 rounded-lg p-4 text-center">
            <div
              class="text-xl font-bold text-blue-600 dark:text-blue-400"
              id="daysRemaining"
            >
              --
            </div>
            <div class="text-sm text-gray-600 dark:text-gray-300">days</div>
          </div>
          <div class="bg-gray-50 dark:bg-gray-700 rounded-lg p-4 text-center">
            <div
              class="text-xl font-bold text-blue-600 dark:text-blue-400"
              id="hoursRemaining"
            >
              --
            </div>
            <div class="text-sm text-gray-600 dark:text-gray-300">hours</div>
          </div>
          <div class="bg-gray-50 dark:bg-gray-700 rounded-lg p-4 text-center">
            <div
              class="text-xl font-bold text-blue-600 dark:text-blue-400"
              id="minutesRemaining"
            >
              --
            </div>
            <div class="text-sm text-gray-600 dark:text-gray-300">minutes</div>
          </div>
          <div class="bg-gray-50 dark:bg-gray-700 rounded-lg p-4 text-center">
            <div
              class="text-xl font-bold text-blue-600 dark:text-blue-400"
              id="secondsRemaining"
            >
              --
            </div>
            <div class="text-sm text-gray-600 dark:text-gray-300">seconds</div>
          </div>
        </div>
      </div>

      <div class="flex items-center flex-col gap-2">
        <h2
          class="text-xl font-semibold text-center text-gray-700 dark:text-gray-200"
        >
          Monthly estimate
        </h2>
        <p
          class="text-gray-400 text-center dark:text-gray-200 italic text-lg flex items-center gap-2"
        >
          <Icon name="mdi:information" class="hidden md:block" />
          Each block represents a year while each dot represents a month
        </p>
        <div id="heatmap" class="w-full"></div>
      </div>

      <p
        class="py-20 text-gray-600 text-2xl text-center dark:text-gray-300 max-w-md mx-auto"
      >
        "Based on a global average life expectancy of 76 years. Remember, this
        is just a number - what matters most is how you spend <b>your time.</b>"
      </p>
    </div>
  </div>

  <script>
    import "../scripts/main.ts";
  </script>
</Layout>
